<!DOCTYPE html>
<html>
  <head>
    <title>Angular QuickStart</title>
    <base href="/">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link rel="stylesheet" href="styles.css"> -->

    <!-- Polyfill(s) for older browsers -->
    <!-- <script src="node_modules/core-js/client/shim.min.js"></script>

    <script src="node_modules/zone.js/dist/zone.js"></script>
    <script src="node_modules/systemjs/dist/system.src.js"></script>

    <script src="systemjs.config.js"></script>
    <script>
      System.import('main.js').catch(function(err){ console.error(err); });
    </script> -->
  </head>

  <body>
    <div class = "container">
      <h1>Product Form</h1>
      <form>
         <div class = "form-group">
            <label for = "productid">ID</label>
            <input type = "text" class = "form-control" id = "productid" required
               [(ngModel)] = "model.productid" name = "id">
         </div>
         
         <div class = "form-group">
            <label for = "name">Name</label>
            <input type = "text" class = "form-control" id = "name"
               [(ngModel)] = "model.productname" name = "name">
         </div>
      </form>
   </div>

   <div *ngIf='appStatus'>{{appTitle}} world </div>

   <div *ngFor='let lst of appList'>
    <ul>
    <li>{{lst.ID}}</li>
    <li>{{lst.Name}}</li>
    </ul>
    </div>
  </body>
</html>
